# Student Information

**Student Name:** Elijah Alonzo  
**Workshop Cohort:** September Cohort

---

# Screenshots
(assets/rolldice-test.png)
(assets/read-mcp.png)
(assets/readme-01.png)
(assets/readme-02.png)
(assets/readme-03.png)
